@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Modern+Antiqua&display=swap');



body {
    background-color: #E3DDD2;
    width: 100%;
    font-family: 'Modern Antiqua';
}

.nav {
    background-color: #92774d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    font-size: 20px;
    margin-inline: auto;

    #logo-nav {
        width: 160px;
        padding-left: 3rem;

        &:hover {
            cursor: pointer;
        }
    }

    .nav-options {
        display: flex;
        margin-right: 100px;
        gap: 5rem;

        li {
            &:hover {
                transition: 1s;
                cursor: pointer;
                border-bottom: 1px solid white;
                transform: scale(1.1);
            }

            a {
                text-decoration: none;
                color: white;
                padding-block: 16px;
            }
        }
    }
}

.container{
    display: flex;
    height: 92%;
    width: 100%;

    aside {
        height: 100%;
        max-width: 90px;
        width: 100%;
        background-color: #3f331f;
        transition: 0.3s ease-in-out;
        z-index: 1000;
        color: white;

        nav{
            width: 100%;
            .options{
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    li{
                        display: flex;
                        align-items: center;
                        transition: 1s ease-in-out;
                        margin-top: 2rem;

            
                        i{
                            font-size: 20px;
                        }
            
                        .option-aside{
                            display: none;

                            a {
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }
                    li:hover{
                        cursor: pointer;
                        
                    }
                }
            }
            
        }

        &:hover {
            width: 100%;
            max-width: 270px;

            nav{
                .options{
                    ul {
                        li{
                            width: 150px;
                            gap: 10px;
                            i{
                                left: 0;
                                font-size: 20px;
                            }
                
                            .option-aside{
                                display: block;
                            }
                        }
                    }
                }
            }
        }

    }

    main {
        width: 100%;
        height: 100%;

        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
        h1{
            font-size: 45px;
            margin-top: 2rem;
        }

        .container-main{
            display: flex;
            width: 90%;
            height: 85%;
            border: 1px solid black;
            flex-direction: column;

            div{
                display: flex;
                width: 100%;
                height: 90%;
                justify-content: space-between;
                
                .container-main-categorias,  .container-main-pratos{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    width: 100%;
                    height: 100%;
    
                    h2{
                        font-size: 35px;
                        justify-content: center;
                    }

                
                }
            }
        }
    }
}